[submodule "AIND-CV-FacialKeypoints"]
	path = AIND-CV-FacialKeypoints
	url = https://github.com/futurus/AIND-CV-FacialKeypoints.git
[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = https://github.com/futurus/AIND-Sudoku.git
[submodule "AIND-Recognizer"]
	path = AIND-Recognizer
	url = https://github.com/futurus/AIND-Recognizer.git
[submodule "AIND-Planning"]
	path = AIND-Planning
	url = https://github.com/futurus/AIND-Planning.git
[submodule "AIND-Isolation"]
	path = AIND-Isolation
	url = https://github.com/futurus/AIND-Isolation.git
[submodule "dog-project"]
	path = dog-project
	url = https://github.com/futurus/dog-project.git
[submodule "aind2-dl"]
	path = aind2-dl
	url = https://github.com/futurus/aind2-dl.git
[submodule "aind2-cnn"]
	path = aind2-cnn
	url = https://github.com/futurus/aind2-cnn.git
[submodule "aind2-rnn"]
	path = aind2-rnn
	url = https://github.com/futurus/aind2-rnn.git
[submodule "deep-learning"]
	path = deep-learning
	url = https://github.com/futurus/deep-learning.git
